#para1 {
    text-align: center;
    color: red;
    margin: 75px;
    padding: 50px;
    background-color: lightblue;
}
h1{
    background-color: yellow;
}
#firstname {
    background-color:lightpink;
}

